body {
    background-color:lightblue;
    text-align: center;
}
p{
    color:mediumslateblue
}
h1{
    font-style: serifada;
}
.calopsita {
    font-size: 40%;
}
.img1{
    width:35%
}
.centro {
    text-align: center;
}
